#-e .  # we can comment this and we will use at last when we want to make our package
pandas
numpy
flask
seaborn
matplotlib
scikit-learn
catboost
xgboost
pytest-warnings
dill
 # -e . is used to trigger setup.py to make all the folder as package